li {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

header {
    display: flex;
    padding: 1.6rem;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: auto;
}

.top-nav,
.user-list,
.news-list {
    display: flex;
}

.top-nav {
    justify-content: center;
}

.user-list {
    gap: 1.6rem;
    position: relative;
}

.news-list {
    flex-direction: column;
    position: absolute;
    margin-left: 1.6rem;
}

.explore-list-item {
    position: relative;
}